<div class="card text-center">
  <div class="card-block">
    <h3 class="card-title"><%= drive.name %></h3>
    <div class="card-text">
      <span class="fa-stack fa-4x">
        <i class="fa fa-square fa-stack-2x <%= drive_connected_class(drive) %>"></i>
        <i class="fa fa-hdd-o fa-stack-1x text-inverse"></i>
      </span>
      <% if (is_backup_running? and drive.connected?) %>
        <span class="fa-stack fa-4x">
          <i class="fa fa-square fa-stack-2x text-success"></i>
          <i class="fa fa-refresh fa-spin fa-stack-1x text-inverse"></i>
        </span>
      <% end %>
      <% if drive.connected? and !is_backup_running? and drive.mounted? %>
        <form action="/drive/<%= drive.id %>/unmount" method="POST" class="form-inline">
          <button class="btn btn-default" type="submit"><i class="fa fa-eject fa-4x"></i></button>
        </form>
      <% end %>
      <% if drive.connected? and !drive.mounted? %>
        <form action="/drive/<%= drive.id %>/mount" method="POST" class="form-inline">
          <button class="btn btn-default" type="submit">Mount Drive + Update Stats</button>
        </form>
      <% end %>
      <ul class="list-unstyled">
        <li><%= connected_text(drive) %></li>
        <% if drive.connected? and drive.mounted?%>
          <li class="text-danger">Mounted - Do Not Disconnect</li>
        <% elsif drive.connected? and !drive.mounted? %>
          <li class="text-success">Not Mounted - Safe To Disconnect</li>
        <% end %>
        <li>Last Connected - <%= last_connected(drive) %></li>
        <li>Last Backed Up - <%= last_backed_up(drive) %></li>

      </ul>
    </div>
  </div>
</div>
