<div class="card text-center">
  <div class="card-header"><h4><%= drive.name %></h4></div>
  <div class="card-block">
    <div class="card-text">
      <div class="flex-row">
        <div class="<%= drive_connected_class(drive) %> text-xs-center drive-icon">
          <i class="fa fa-hdd-o fa-4x text-inverse"></i>
        </div>
        <% if (is_backup_running? and drive.connected?) %>
          <div class="<%= drive_connected_class(drive) %> text-xs-center drive-icon">
            <i class="fa fa-refresh fa-spin fa-4x text-inverse"></i>
          </div>
        <% end %>
      </div>
      <% if drive.connected? and !is_backup_running? and drive.mounted? %>
        <form action="/drive/<%= drive.id %>/unmount" method="POST">
          <button class="btn btn-info" type="submit">Unmount Drive - to safely remove</button>
        </form>
        <form action="/backup/create" method="POST">
          <button class="btn btn-success-outline" type="submit">Run a manual backup</button>
        </form>
      <% end %>
      <% if drive.connected? and !drive.mounted? %>
        <form action="/drive/<%= drive.id %>/mount" method="POST">
          <button class="btn btn-primary" type="submit">Mount Drive &amp; Update Stats</button>
        </form>
      <% end %>
      <ul class="list-unstyled">
        <li><%= connected_text(drive) %></li>
        <% if drive.connected? and drive.mounted?%>
          <li class="text-danger">Mounted - Do Not Disconnect</li>
        <% elsif drive.connected? and !drive.mounted? %>
          <li class="text-success">Not Mounted - Safe To Disconnect</li>
        <% end %>
        <li>Last Connected - <%= last_connected(drive) %></li>
        <li>Last Backed Up - <%= last_backed_up(drive) %></li>
        <li>
          <p>Used Space - <%= drive.used_percent %>%</p>
          <%= used_space_bar(drive) %>
        </li>
        <li>Drive Size - <%= (drive.total_space.to_f / 1024.0 / 1024.0 / 1024.0 ).round(3) %> GB </li>
      </ul>
    </div>
  </div>
</div>
